@{
    ViewData["Title"] = "Om Oss";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quibusdam molestiae voluptas! Debitis veritatis sint accusantium corrupti aperiam, officiis repellat. Reiciendis in architecto pariatur culpa, aspernatur omnis dolore deleniti obcaecati!</p>