@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam error itaque facilis harum alias eligendi vitae sint, fugit corporis mollitia laborum quia velit voluptatum ratione atque debitis beatae adipisci illum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, maxime. Quam totam facilis tenetur eos nulla, cupiditate recusandae voluptate nemo maiores ipsam inventore aspernatur ullam expedita iure animi. Animi, delectus?</p>
