@model IEnumerable<MvcApp.ViewModels.Categories.CategoryViewModel>
@{
    @* ViewData["Title"] = "Våra IT-kurser"; *@
    ViewBag.PageTitle = "Kategori";
}
<link rel="stylesheet" href="~/css/gallery-page.css">
<h1>@ViewData["Title"]</h1>

<article>
    <section class="gallery-wrapper">

        @foreach (var category in Model!)
        {
            <div class="gallery-card">

                <a asp-controller="Courses" asp-action="Index" asp-route-id="@category.CategoryId"> <h2>@category.Name</h2></a>

            </div>

        }
    </section>
</article>



