<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
       <link rel="stylesheet" href="~/css/styles.css"/>
       
       
       <title>Westcoast Education - @ViewBag.PageTitle</title>
   </head>
   <body>
    <section class="top-nav">
    <div>
    <a  id="logo" asp-controller="Home"><i class="fa-solid fa-graduation-cap"></i> Westcoast Education</a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
             <li><a asp-controller="Home" asp-action="Index">Start</a></li>
             <li><a asp-controller="Categories" asp-action="Index">Våra kurser</a></li>
             <li><a asp-controller="Auth" asp-action="Index">Registrera</a></li>
             <li><a asp-controller="Home" asp-action="About">Om oss</a></li>
    </ul>
  </section>
       <main>
       @RenderBody()
  
       </main>
  
   </body>
   <footer>Westcoast Education 2022 <a asp-controller="Home" asp-action="About">Om oss</a></footer>
   </html>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> 
    @await RenderSectionAsync("Scripts", required: false)